@import "tailwindcss";



/* The actual progress bar fill element styled by Swiper */
.swiper-custom-progressbar .swiper-pagination-progressbar-fill {
    background-color: #4ae2a3 !important;
}


.swiper-button-next,
.swiper-button-prev {
    color: #4ae24a !important;
}



/* Hide buttons by default */
.swiper-button-next,
.swiper-button-prev {
    opacity: 0;
    transition: opacity 0.3s ease;
    color: #4ae24a !important;
}

/* Show button on hover */
.swiper-button-next:hover,
.swiper-button-prev:hover {
    opacity: 1;
}

@layer base {
    body {
        @apply text-gray-800 font-sans text-base;
    }
}

@layer components {
    .card-header {
        @apply text-xl font-semibold text-gray-800 mb-2 transform transition-all duration-300 ease-in-out group-hover:text-indigo-600;
    }

    .card-disc {
        @apply text-gray-600 text-sm transform transition-all duration-300 ease-in-out;
    }

    .header1 {
        @apply text-3xl font-extrabold sm:text-4xl;
    }

    .subtitle1 {
        @apply mt-4 text-lg;
    }
}